.header {
    display:  flex;
    flex-direction:  row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-weight: bold;
    width: 100%;  
   
    &__logo {
        &--item {
            img {
                object-fit: cover;
                max-width: 100%;
                width: 200px;                 
            }
        }
    }
    &__sign {  
        color: $primary-clr;      
        &--item {
            display: flex;
            flex-direction: row;
            align-items: center; 
            color: $primary-clr;               
            span {
                display: block;               
                margin-left: 0.5em;
            }
            &:hover {
                text-decoration: underline;
            }
        }
       
    }
}

.hero {
    background: url(../../assets/img/bank-tree.jpeg);
    background-position: 0% 33%;
    width: 100%;
    height: 400px;
    color: $primary-clr;
    position: relative;
    &__content{
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
        padding: 2rem;
        background-color: $white-clr;
        &--subtile {
            font-size: 1.5rem;
            font-weight: bold;
        }
        &--text {
            margin-top: 1.2rem;
        }
    }
    
}
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    &__item {
        flex: 1;
        text-align: center;
        padding :2.5rem;
        &--icon {
            width: 140px;
            border: 10px solid $secondary-clr;
            border-radius: 50%;
            padding: 1rem;            
        }
        &--title {
            color: $tertiary-clr;
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            margin: 1rem 0;
        }
    }
}
.footer{
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    padding:  2rem 0 1.5rem;
    width: 100%;   
}

@media screen and( max-width: 768px) {
    .header {
        padding: 5px 5px;
        span {
           margin-left: 0.2em;
        }
    }
    .hero {
        height: 300px;
        background-repeat: no-repeat;
        background-position: 0 -50px ;
        background-size: cover;
        font-size: 1rem;
        &__content {
            position: relative;
            top: 2rem; 
            right: 0;        
            margin:  0 auto;  
            width: 270px;
            
            &--subtile {
                font-size: 1rem; 
            }
            &--text {
                font-size: 1rem; 
            }         
        }
    }
    .features{
        flex-direction: column;
    }    
}
