.sign-in {
    font-weight: bold;
    text-align: center;
    background-color: $bg-dark-clr;
    flex: 1;
    width: 100%;
    &__content {
        background-color: $white-clr;
        width: 300px;
        margin: 3rem  auto 0;       
        padding: 2rem;
    }
    &__title{
        margin: 1rem 0;
    }
    .form {
        &__inptwrapper {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin-bottom: 1rem;
            input {
                height: 2rem;
            }
        }
        &__remember {
           display: flex;           
           align-items: center;
           label {
            margin-left: 0.25rem;           
           }          
        }
        &__sign{
            display: block;
            width: 100%;
            padding: 8px;
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 1rem;
            border: 0;
            background-color: $secondary-clr;
            color: #fff;
            cursor: pointer;
        }
        &__error {
            font-size: 0.75rem;
            color: red;
            margin-bottom: .2rem ;
        }
    }
}